@using MyWebApp.Models.ViewModels
@model CartItemViewModel

@Html.AntiForgeryToken()

<h4>Giỏ hàng</h4>

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                    
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CartItems.Count > 0)
                    {
                        @foreach (var item in Model.CartItems)
                        {
                            <tr id="row-@item.ProductId">
                                <td class="cart_product">
                                    <a><img src="~/media/products/@item.Image" width="90" height="100"></a>
                                </td>

                                <td class="cart_description">
                                    <h4>@item.ProductName</h4>
                                </td>

                                <td class="cart_price">
                                    <p>$@item.Price.ToString("00")</p>
                                </td>

                                <td class="cart_quantity">

                                    <!-- decrease -->
                                    <button type="button" class="btn btn-success btn-sm decrease-btn"
                                            data-id="@item.ProductId">
                                        -
                                    </button>

                                    <!-- quantity -->
                                    <input id="qty-@item.ProductId"
                                           class="cart_quantity_input"
                                           type="text"
                                           value="@item.Quantity"
                                           readonly
                                           size="2"
                                           style="width:40px; text-align:center;">

                                    <!-- increase -->
                                    <button type="button" class="btn btn-default btn-sm increase-btn"
                                            data-id="@item.ProductId">
                                        +
                                    </button>

                                    <!-- remove -->
                                    <button type="button" class="btn btn-danger btn-sm remove-btn"
                                            data-id="@item.ProductId">
                                        Remove
                                    </button>
                                </td>

                                <!-- item total -->
                                <td class="cart_total">
                                    <p id="itemTotal-@item.ProductId" class="cart_total_price">
                                        $@((item.Price * item.Quantity).ToString("00"))
                                    </p>
                                </td>

                            </tr>
                        }

                        <!-- GRAND TOTAL -->
                        <tr>
                            <td colspan="4">
                                <h4>
                                    Grand Total:
                                    <span id="grandTotal">$@Model.GrandTotal.</span>
                                </h4>
                            </td>

                            @if (User.Identity?.IsAuthenticated ?? false)
                            {
                                <td>
                                    <a class="btn btn-primary btn-sm"
                                       asp-controller="Checkout"
                                       asp-action="Checkout"> Checkout </a>
                                </td>
                            }
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="6"><h4>Your Cart is Empty.</h4></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="register-req">
            <p>Please use Register And Checkout to easily get access to your order history, or use Checkout as Guest</p>
        </div><!--/register-req-->
        @if (Model.CartItems.Count > 0)

        {



            @foreach (var item in Model.CartItems)



            {

                @if (User.Identity?.IsAuthenticated ?? false)



                {



                    <div class="shopper-informations">
                        <div class="row">

                            <div class="col-sm-6 clearfix">
                                <div class="bill-to">
                                    <p>Bill To</p>
                                    <div class="form-one">
                                        <form>

                                            <input type="text" placeholder="Email*">
                                            <input type="text" placeholder="Name">
                                            <input type="text" placeholder="Address 1 *">
                                            <input type="text" placeholder="Address 2">
                                        </form>
                                    </div>
                                    <div class="form-two">
                                        <form>
                                            <input type="text" placeholder="Zip / Postal Code *">
                                            <select>
                                                <option>-- Country --</option>
                                                <option>United States</option>
                                                <option>Bangladesh</option>
                                                <option>UK</option>
                                                <option>India</option>
                                                <option>Pakistan</option>
                                                <option>Ucrane</option>
                                                <option>Canada</option>
                                                <option>Dubai</option>
                                            </select>
                                            <select>
                                                <option>-- State / Province / Region --</option>
                                                <option>United States</option>
                                                <option>Bangladesh</option>
                                                <option>UK</option>
                                                <option>India</option>
                                                <option>Pakistan</option>
                                                <option>Ucrane</option>
                                                <option>Canada</option>
                                                <option>Dubai</option>
                                            </select>

                                            <input type="text" placeholder="Phone *">


                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="order-message">
                                    <p>Shipping Order</p>
                                    <textarea name="message" placeholder="Notes about your order, Special Notes for Delivery" rows="16"></textarea>
                                    <label><input type="checkbox"> Shipping to bill address</label>
                                </div>
                            </div>
                        </div>
                    </div>



                }





            }


        }
    </div>
</section>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(function () {

            // lấy anti-forgery token
            var token = $('input[name="__RequestVerificationToken"]').val();

            function call(url, data, callback) {
                $.ajax({
                    url: url,
                    type: "POST",
                    data: data,
                    headers: {
                        "RequestVerificationToken": token
                    },
                    success: function (res) {
                        if (res.success) {
                            callback(res);
                        }
                    }
                });
            }

            // INCREASE
            $(".increase-btn").click(function () {
                var id = $(this).data("id");

                call("/Cart/Increase", { Id: id }, function (res) {
                    $("#qty-" + id).val(res.quantity);
                    $("#itemTotal-" + id).text("$" + res.itemTotal);
                    $("#grandTotal").text("$" + res.grandTotal);
                });
            });

            // DECREASE
            $(".decrease-btn").click(function () {
                var id = $(this).data("id");

                call("/Cart/Decrease", { Id: id }, function (res) {

                    if (res.removed === true) {
                        $("#row-" + id).remove();
                    } else {
                        $("#qty-" + id).val(res.quantity);
                        $("#itemTotal-" + id).text("$" + res.itemTotal);
                    }

                    $("#grandTotal").text("$" + res.grandTotal);
                });
            });

            // REMOVE ITEM
            $(".remove-btn").click(function () {
                var id = $(this).data("id");

                call("/Cart/Remove", { Id: id }, function (res) {
                    $("#row-" + id).remove();
                    $("#grandTotal").text("$" + res.grandTotal);
                });
            });

        });
    </script>
}
